<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <title>ПрофиМастер</title>
    <link rel="shortcut icon" href="static\image\main-page\logo-profi-master-green.svg">
    <link rel="stylesheet" href="static\style\style.css"/>
</head>
<body>
    <div class="back">
        ты админ
        <a href="/logout">Выход</a>
    </div>
</body>
</html>