<!-- Отображение данных о товаре, если они переданы -->
{% if product_data %}
    <h1>Изменить товар</h1>
    <form id="myForm">
        <input type="hidden" id="product_id" name="product_id" value="{{ product_data[0] }}">
        <label for="product_name">Название товара:</label>
        <input type="text" id="product_name" name="product_name" value="{{ product_data[1] }}" required><br>

        <label for="price">Цена:</label>
        <input type="text" id="price" name="price" value="{{ product_data[2] }}" required><br>

        <label for="quantity">Количество:</label>
        <input type="text" id="quantity" name="quantity" value="{{ product_data[3] }}" required><br>

        <label for="category">Категория:</label>
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category[0] }}" {% if category[0] == product_data[4] %}selected{% endif %}>{{ category[1] }}</option>
            {% endfor %}
        </select><br>

        <input type="submit" value="Обновить">
    </form>
{% else %}
    <!-- Форма для ввода нового товара, если данные о товаре не переданы -->
    <h1>Введите данные о новом товаре:</h1>
    <form id="myForm">
        <label for="product_name">Название товара:</label>
        <input type="text" id="product_name" name="product_name" required><br>

        <label for="price">Цена:</label>
        <input type="text" id="price" name="price" required><br>

        <label for="quantity">Количество:</label>
        <input type="text" id="quantity" name="quantity" required><br>

        <label for="category">Категория:</label>
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select><br>

        <input type="submit" value="Добавить">
    </form>
{% endif %}

<!-- Отображение сообщения об успешном добавлении/обновлении данных -->
<div id="message"></div>

<script>
    // Обработчик отправки формы
    document.getElementById("myForm").addEventListener("submit", function(event) {
        event.preventDefault();
        const formData = new FormData(this);

        fetch('/save_data', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            // Отображение сообщения об успешном добавлении/обновлении данных
            document.getElementById("message").innerText = data.message;
        })
        .catch(error => console.error('Ошибка:', error));
    });
</script>
